body{
  background: white;
  font-family: Comic Sans MS;
  font-weight: normal;
  margin: 0;
  padding: 0;

}
.selector-for-some-widget {
  box-sizing: content-box;
}
.topnav {
  color: grey;
  position: relative;
  margin-right: 100px;
  padding-left: 100px;
  padding-bottom: 20px;
  overflow: hidden;
}
.first-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hide{
  text-align: center;
}
.box{
  border-top-width: medium;
  font-size: 20px;
  margin: 5%;
  background-color:white;
  color:#8ca424;
  border: 5px;
  border-color:  #8ca424;
  border-radius: 5px;
}
.icon{
  background-color: white;
  width: 300px;
  border: 2px;
  height: 300px;
  margin-left: 200px;
  padding: 50px;
  border-radius: 10px;
}
.icon2{
  background-color: white;
  width: 300px;
  border: 2px;
  height: 300px;
  margin-left: 200px;
  padding: 50px;
  border-radius: 10px;
  display: inline-block;
  float: right;
  margin-top: -400px;
  margin-right: 20%;
  align-content: center;
}
.card.horizontal{
  margin-left: 10%;
}
.container{
  margin: auto;
   width: 100%;
}
.fi-div h3{
  text-align: center;
}
.last-info{
  background-color:#333333;
  width: 100%;
}
.main-menu1{
  background-color: black;
  width: 100%;
}
.menu-info{
  color: white;
  float:left;
  margin-left: 10%;
  width: 20%;
}
.menu-info h1{
  font-size: 13px;
}
.menu-info p{
  color: grey;
  line-height: 10px;
  font-size: 12px;
}
.menu2-info{
  margin-left: 10%;
  float: left;
  color: white;
  width: 20%;
}
.menu2-info h1{
  color: white;
  font-size: 13px;
}
.menu2-info a{
  text-decoration: none;
  color: grey;
  line-height: 30px;
  font-size: 12px;
}
.menu3-info{
  float: right;
  margin-right: 60px;
  color: white;
  width: 25%;
}
.menu3-info h1{
  color: white;
  font-size: 13px;
  padding-bottom: 10px;
}
.menu3-info p{
  color: grey;

  font-size: 11px;
}
.card-content h3 {
  text-align: left;
	font-size:14px;
	font-weight:600;
	text-transform:capitalize;
	margin:0 0 5px 0;
	padding:0;
	color:#555555;
}
.btn-styled {
	background-color:transparent;
  font-family: Comic Sans MS;
	border:#8ca424 1.9px solid;
	color:#8ca424;
	font-size:0.70em;
	border-radius:5px;
	padding:5px 13px 4px 13px;
	margin:10px 0 10px 0;
  cursor: pointer;
}
.btn-styled:hover, .btn-styled:active  {
	background-color:#8ca424;
	border-color:#ededed;
	color:white;
}
.btn-styled:focus {
	outline:0;
}
.card {
	position: relative;
  	margin:2% 5px 2% 5px;
  	background-color: #fff;
  	transition: box-shadow .25s;
  	border-radius: 10px;
	padding:0;
	min-width:400px;
	max-width:500px;
}
.card .card-image img {
  display: block;
  border-radius: 10px;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.card .card-content {
  padding: 15px 10px 0 0;
  border-radius: 10px;

}
.card-content p {
  margin:0;
  font-size:12px;
  color: #555555;
}
.last-main{
  background-color:#333333;
  width: 100%;
  height: 90%;
}
.ftr{
  float: left;
  color: white;
  width: 100%;
  background-color: black;
  padding-top: 10px;
}
.ftr p{
  color: silver;
  font-size: 12px;
  margin-left: 230px;
}
.ftr a{
  color: white;
  font-size: 12px;
  text-decoration: none;
}
.card.horizontal .card-image img {
	height:100%;
	width:100%;
}
.card.horizontal {
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
}
.card.horizontal.small .card-image,
 .card.horizontal.medium .card-image,
  .card.horizontal.large .card-image {
  	height: 100%;
  	max-height: none;
  	overflow: hidden;
}
.column{
  float: left;
  width: 50%;
}
.logo:after{
  content: "";
  display: table;
  clear: both;
}

.column img{
  position:relative;
  top: 60px;
  left: 80px;
}
.column h3{
  position: relative;
  top: 60px;
  font-size: 20px;
  color: #C0C0C0;
}
.last-column{
  float: left;
  width: 50%;
}

.last2-column{
  float: left;
  width: 100%;
}
.last-btn:after{
  content: "";
  display: table;
  clear: both;
}
.last2-column:after{
  content: "";
  display: table;
  clear: both;
}
.last-column{
  position:relative;
  top: 60px;
  text-align: justify;
}
.last-column button{
  background-color:#bad940;
  color: white;
  height: 50px;
  width: 230px;
  border-radius: 5px;
}
.rpost:after{
  content: "";
  display: table;
  clear: both;
}
.lbtn{
  position: relative;
  margin-left: 900px;
  top: 10px;
  text-align: justify;
}
.rtweet{
  margin-left: 65%;
  bottom: 205px;
  float: right;
}
.rpost{
  position: relative;
  bottom: 205px;
  float: right;
  margin-right: 500px;
}
.rtweet h5{
  font-size: 13px;
  margin-left: 320px;
  color: #C0C0C0;
}
.rtweet p{
  color: grey;
  font-size: 12px;
  line-height: 9px;
  text-decoration: none;
  margin-left: 200px;
}
.rpost p{
  color: grey;
  font-size: 12px;
  line-height: 9px;
  text-decoration: none;
  margin-left: 200px;
}
.con-detail p{
  text-align: justify;
  color: grey;
  font-size: 12px;
  line-height: 5px;
  text-decoration: none;
  margin-left: 200px;
}
.rpost h5{
  font-size: 13px;
  margin-left: 320px;
  color: #C0C0C0;
}
.con-detail h5{
  font-size: 13px;
  margin-left: 200px;
  color: #C0C0C0;
}
.lbtn button{
  background-color:#bad940;
  color: white;
  height: 50px;
  width: 230px;
  border-radius: 5px;
}
.last-column h2{
  margin-top: 10px;
margin-left: 200px;
  font-size: 25px;
  color: #C0C0C0;
}
.card-image{
  margin-left: 18%;
  margin-right: 9%;
}
.card.horizontal .card-image img {
  	width:200px;
	height:200px;
	margin-right:10px;
  margin-left: 10px;

}
.card.horizontal .card-stacked {
  	-webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  	-webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  	position: relative;
}
.card.horizontal .card-stacked .card-content {
  	-webkit-flex-grow: 1;
    -ms-flex-positive: 1;
	flex-grow: 1;
}
.card .card-image {
  position: relative;

}
.card-image button{
  margin: 0;
  position: absolute;
  left: 25%;
}
.card-image p{
  text-align: justify;
  font-size: 13px;
  width: 90%;
  margin-left: 5%;
  margin-right: 10%;
}
.card-image h3:hover{
  color: #8ca424;
}
.icon a{
  font-weight: bold;
  font-family:verdana;
  font-size:13px;
  text-align: center;
}
.icon2 a{
  font-weight: bold;
  font-family:verdana;
  font-size:13px;
  text-align: center;
}
.icon,.icon2 p{
  font-size: 12px;
  text-align: justify;
}
.icon button{
  margin-top: 5%;
  margin-left: 25%;
}
.fr-img{
  background: url('images/frimg1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -28px;
}
.fr-img h1{
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
}

.clnt-img{
  position: absolute;
  height: 25%;
  width: 15%%;
  background-color: white;
  border-radius: 50%;
}
.n-btn{
  padding: -10% -10%;
  margin-left: 250px;
  margin-top: 50px;
  float: left;
  height: auto;
  width:auto;
  background-color: #8ca424;
  border: none;
}
.p-btn{
  float: right;
  margin-right: 240px;
  margin-top: 50px;
  padding: -10% -10%;
  height: auto;
  width:auto;
  background-color: #8ca424;
  border: none;
}
.nbtn{
  height: 70%;
  width: 70%;
}
.pbtn{
  height: 70%;
  width: 70%;
}
.clrbox p{
  color: white;
  text-align: center;
}
.clrbox{
  background-color: #8ca424;
  opacity: 0.8;
  height: 80%;
  width: 100%;
}
.icon2 button{
  text-align: center;
  margin-left: 30%;
  margin-top: 10%;
}
.thr-img img{
  height: 20%;
  margin-left: 120px;
}
.scnd-img{
  color: white;
  background-image: url('images/client.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.scnd-img p{
  font-style: normal;
  font-size: 23px;
  letter-spacing: 1px;
}
.first-img img{
  width: 100%;
  height: 100%;
}
.thr-img{
   height: 110%;
   width: 100%;
}
.thr-img{
  font-size: 20px;
  background-image: url('images/beach.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.thir-txt{
  text-align: center;
  color: #2f2f2f;
  line-height: 25px;
}
.simg-txt{
  text-align: center;
}
.img-txt{
  text-align: justify;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: black;
  padding-left: 100px;
  padding-right: 100px;
}
.com{
  text-align: left;
  margin-left: 10%;
  line-height: 30px;
  width: 90%;
}
.bbygrl img{
  float: right;
  margin-right: 20%;
  margin-top:60px;
  height:60%;
  align-content: center;
  width: 25%;
}
.abtus{
  font-style: italic;
  color: grey;
}
.com p{
  text-align: justify;
  font-size: 12px;
  line-height: 17px;
  color: grey;
}
.com a{
  font-style: bold;
  font-size: 10px;
  line-height: 17px;
}
.topnav a {
  color: grey;
  float: left;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 13px;
  position: static;
}
.topnav a:hover {
  color: #8ca424;
}
.fi-blog p:hover{
  color: #8ca424;
}
.search-txt
{
  height: 25px;
  position: relative;
  padding-left: : 50x;
  border-color: #8ca424;
}

.ndiv
{
  text-align: center;
  position: relative;
  padding-left: 150px;
}
.p11
{
  color: grey;
  font-size: 14px;
  margin-right: 150px;
  padding-left: 150px;
  position: relative;
  padding-top: 25px;

}
.topnav .search-container {
  float: right;
}
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #8ca424;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.topnav .search-container button:hover {
  background: #8ca424;
}

.ingr{
     height: 80px;
     background-color: #a6a9a2;
}
.ingr img{
  height: 50%;
  margin-top: 10px;
}
.ingr p{
  font-family: monospace;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: -10px;
}
.ingr1{
  background-color: #70716b;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  color: white;
  height: 50px;
  width: 150px;
  cursor: pointer;
}
.ingr2{
  background-color: #8ca424;
  border-radius: 5px;
  color: white;
  height: 50px;
  width: 150px;
  cursor: pointer;
}
